.Home {
	background-image: url("../assets/water2.png");
	background-repeat: repeat;
	background-size: 20%;
	min-height: 100vh;
}

.main-body {
	width: 60%;
	height: 50vh;
	background-color: white;
	justify-content: center;
	margin: auto;
	padding: 0 5vh 0 5vh;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
