.AnnoyingModal {
	position: fixed;
	left: 25%;
	top: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 1);
	height: 50%;
	width: 50%;
	border-radius: 15px;
	border: 5px solid black;
	overflow-y: auto;
}

.header {
	text-align: center;
}

.main-container {
	margin: 50px 20px;
	text-align: center;
}

.main-container > div {
	margin-top: 50vh;
}

.modal-open-button {
	cursor: pointer;
	padding: 20px;
	border-radius: 25px;
	border: 0px;
	color: white;
	box-shadow: 10px 10px 10px 0px rgba(55 55 55 / 20%);
	opacity: 0.8;
}

.modal-open-button:hover {
	opacity: 1;
	transform: translate3D(0, -1px, 0) scale(1.03);
}

.modal-open-button.modal-open-button-default {
	background-color: black;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

.modal-overlay.modal-overlay-visible {
	display: block;
}

.modal-container {
	padding: 10vh;
	padding-top: 50vh;

}

.modal-container.modal-container-visible {
	display: block;
}

#modal-container-not-scrollable.modal-container {
	color: red;
}

#modal-container-scrollable.modal-container {
	color: green;
}

.modal-container .modal-container-controls {
	position: absolute;
	right: 40px;
	top: 20px;
}

.modal-container .modal-container-controls .modal-container-close-button {
	background-color: red;
	opacity: 0.7;
	color: white;
	border-radius: 25px;
	padding: 10px;
	border: 0px;
}

.modal-container .modal-container-controls .modal-container-close-button:hover {
	opacity: 1;
	transform: translate3D(0, -1px, 0) scale(1.03);
	cursor: pointer;
}

#modal-container-not-scrollable.modal-container .modal-container-content,
#modal-container-scrollable.modal-container .modal-container-content {
	margin: 40px;
	text-align: justify;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-no-scroll {
	margin: 30px;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-scroll {
	position: absolute;
	width: auto;
	height: calc(100% - 140px);
	overflow-y: auto;
	margin: 10px 30px 30px 30px;
	padding: 0px 20px 0px 0px;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-scroll::-webkit-scrollbar {
	width: 10px;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #333;
	border-radius: 10px;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-scroll::-webkit-scrollbar-thumb {
	background: rgba(51, 51, 51, 0.8);
	opacity: 0.6;
	border-radius: 10px;
}

#modal-container-scrollable.modal-container
	.modal-container-content
	.modal-container-content-scroll::-webkit-scrollbar-thumb:hover {
	background: rgba(51, 51, 51, 1);
}
